.heading
{
    border: 1px blue solid;
    padding: 15x;
   
}
.name {
    font-family: "Verdana", sans-serif; 
}

.building {
    border: 1px black dotted ;
 font-style: italic;
 color: greenyellow;
}

.phone
{
    border-left: 1px gray solid;
    padding-left: 5px;
    border-color: black;

}